@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap");

body {
  margin: 0;
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1f1f1;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Tinos", serif;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
}

img {
  max-width: 100%;
}
